.wrapper {
  display: grid;
  grid-template-columns: 10px 1fr 120px;
  align-items: center;
  padding-right: 40px;
  overflow: hidden;
}

.logo {
  max-height: 100%;
  width: 100vw;
  height: 20vh;
  min-width: 100%;
  object-fit: cover;
}
